    
    <footer class="container-fluid pt-4 pb-4" style="background-color: #190061">
        <div class="row pl-3">
            <div class="col-sm-8 my-auto">
                <span>
                    Copyright Emre PALANDOKEN &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
                </span>
            </div>
            <div class="col-sm-4 text-center">
                <h3>Follow me</h3>
                <a href="mailto:emre.palandoken@hetic.net"><i class="fas fa-envelope" style="padding: 15px; font-size: 1.1rem; color: #fff;"></i></a>
                <a href="https://fr-fr.facebook.com/palandoken.emre"><i class="fab fa-facebook-f" style="padding: 15px; font-size: 1.1rem; color: #fff;"></i></a>
                <a href="https://fr.linkedin.com/in/emre-palandoken"><i class="fab fa-linkedin-in" style="padding: 15px; font-size: 1.1rem; color: #fff;"></i></a>
                <a href="https://twitter.com/emrepalandoken"><i class="fab fa-twitter" style="padding: 15px; font-size: 1.1rem; color: #fff;"></i></a>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>