html, body
{
    height: 100%;
    width: 100%;
}

a
{
    color: inherit;
    text-decoration: none;
}

a:hover
{
    color: #190061;
    text-decoration: none;
}

/* HERO */
#home
{
    background: url('../web/images/hero.jpg') no-repeat center center fixed;
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
}

#home .landing-text
{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#home .landing-text h1
{
    font-size: 4rem;
    font-weight: bold;
}

/* ABOUT-ME */
.about-me img
{
    width: 100%;
}

/* PARALLAX */
#fixed
{
    background: url('../web/images/web.jpg') no-repeat center center fixed;
    background-size: cover;
    display: table;
    height: 40%;
    width: 100%;
}

/* LATEST WORKS */
.works .img-responsive
{
    width: 100%;
}

/* FOOTER */
footer
{
    color: #fff;
}

footer .fab
{
    padding: 15px;
    font-size: 1.1rem;
    color: #fff;
}

/* WORKS PAGE */
.cards
{
    margin: 5%;
}